<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--正式機-->
    <!--<add name="ESRVDB" connectionString="Data Source=172.25.160.133,50624;Initial Catalog=ESRVDB_RPT;Persist Security Info=True;User ID=esrvuser;Password = TaipeiSrv@1" providerName="System.Data.SqlClient" />-->
    <!--測試機-->
    <!--<add name="ESRVDB" connectionString="Data Source=172.25.132.107;Initial Catalog=ESRVDB_RPT;Persist Security Info=True;User ID=sa;Password = Taipeiguest@2A" providerName="System.Data.SqlClient" />-->
    <!--虛擬機-->
    <add name="ESRVDB" connectionString="Data Source=192.168.1.140;Initial Catalog=ESRVDB_RPT;Persist Security Info=True;User ID=sa;Password = Taipeiguest@1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LegalaffairsSOP.LegalaffairsSOP">
        <endpoint address="" behaviorConfiguration="LegalaffairsSOP.LegalaffairsSOPAspNetAjaxBehavior"
          binding="webHttpBinding" contract="LegalaffairsSOP.LegalaffairsSOP" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LegalaffairsSOP.LegalaffairsSOPAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
